html, body {
	font: 14px/1.21 arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;
	font-family: 'Oswald', Impact, sans-serif;
}

.result {
	font-family: 'Gotham', 'Montserrat', arial, sans-serif;
	padding: 15px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	max-width: 600px;
}
