html, body {
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F0F0F0;	
}

h1 {
	text-align: center;
	font-family: 'Oswald', Impact, sans-serif;
	font-size: 4em;
	background-color: #333;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

.holiday-card {
	font-family: 'Gotham', 'Montserrat', arial, sans-serif;
	color: #444;	
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	max-width: 600px;
}


#navigation-bar-container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  max-width: 600px;
  margin: auto;
}