html, body {
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F0F0F0;	
}

h1 {
	text-align: center;
	color: #333;	
	font-family: 'Oswald', Impact, sans-serif;
	font-size: 3em; 
}

.result {
	font-family: 'Gotham', 'Montserrat', arial, sans-serif;
	color: #444;	
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	max-width: 600px;
}
